/* Website Styles*/

* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
}

body {
  background-image: url(images/soft_kill.png);
  background-color: white;
  color: white;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  margin: 50px;
  line-height: 1.5;
}

header,
section,
footer {
  padding: 30px;
}

p {
  margin-top: 25px;
  margin-bottom: 15px;
}

/* Lists */
ul, ol {
  margin: 15px 0;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  text-align: left;
  margin-bottom: 20px;
  background-color: beige;
  color: Blue;
}

header {
  background-color: beige;
  color: black;
}

header h1 {
  text-align: center;
  font-family: Verdana;
  font-size: 50px;
  text-align: center;
}

h2 {
  background-color: blue;
  color: white;
  font-size: 30px;
}

h3 {
  background-color: blue;
  color: white;
  font-size: 30px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: yellow;
  font-weight: bold
}

a:visited {
  color: purple
}

footer {
  background-color: grey;
  color: black;
  font-size: 20px;
}

.banner {
  height: 450px;
  background-image: url(images/foggy-snowy-day.jpg);
  background-size: cover;
  background-position: center;
}

img {
  height: 300px;
  width: 300px;
}

.column {
  width: 50%;
  float: left;
}
